server:
  port: 8080

spring:
  application:
    name: qooerp-gateway
  profiles:
    active: dev

  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
        namespace: qooerp
      config:
        server-addr: localhost:8848
        namespace: qooerp
        group-id: GATEWAY_GROUP
    gateway:
      routes:
        - id: qooerp-auth
          uri: lb://qooerp-auth
          predicates:
            - Path=/api/auth/**
          filters:
            - StripPrefix=2
        - id: qooerp-user
          uri: lb://qooerp-user
          predicates:
            - Path=/api/user/**
          filters:
            - StripPrefix=2
        - id: qooerp-permission
          uri: lb://qooerp-permission
          predicates:
            - Path=/api/permission/**
          filters:
            - StripPrefix=2
        - id: qooerp-organization
          uri: lb://qooerp-organization
          predicates:
            - Path=/api/organization/**
          filters:
            - StripPrefix=2
        - id: qooerp-system
          uri: lb://qooerp-system
          predicates:
            - Path=/api/system/**
          filters:
            - StripPrefix=2

logging:
  level:
    root: INFO
    com.qoobot.qooerp.gateway: DEBUG
    org.springframework.cloud.gateway: DEBUG
