server:
  port: 8080

spring:
  application:
    name: qooerp-gateway
  profiles:
    active: dev

logging:
  level:
    root: INFO
    com.qoobot.qooerp.gateway: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
