<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qoobot.qooerp.production.mapper.ProductionEquipmentMapper">

    <select id="selectPageByCondition" resultType="com.qoobot.qooerp.production.entity.ProductionEquipment">
        SELECT * FROM production_equipment
        WHERE deleted = 0 AND tenant_id = #{tenantId}
        <if test="equipmentCode != null and equipmentCode != ''">
            AND equipment_code LIKE CONCAT('%', #{equipmentCode}, '%')
        </if>
        <if test="equipmentName != null and equipmentName != ''">
            AND equipment_name LIKE CONCAT('%', #{equipmentName}, '%')
        </if>
        <if test="status != null and status != ''">
            AND status = #{status}
        </if>
        <if test="workshopId != null">
            AND workshop_id = #{workshopId}
        </if>
        ORDER BY created_time DESC
    </select>

</mapper>
