<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qoobot.qooerp.production.mapper.ProductionQualityMapper">

    <select id="selectPageByCondition" resultType="com.qoobot.qooerp.production.entity.ProductionQuality">
        SELECT * FROM production_quality
        WHERE deleted = 0 AND tenant_id = #{tenantId}
        <if test="qualityNo != null and qualityNo != ''">
            AND quality_no LIKE CONCAT('%', #{qualityNo}, '%')
        </if>
        <if test="status != null and status != ''">
            AND status = #{status}
        </if>
        ORDER BY created_time DESC
    </select>

</mapper>
