<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qoobot.qooerp.production.mapper.ProductionPlanMapper">

    <select id="selectPageByCondition" resultType="com.qoobot.qooerp.production.entity.ProductionPlan">
        SELECT *
        FROM production_plan
        WHERE deleted = 0
        AND tenant_id = #{tenantId}
        <if test="planNo != null and planNo != ''">
            AND plan_no LIKE CONCAT('%', #{planNo}, '%')
        </if>
        <if test="planName != null and planName != ''">
            AND plan_name LIKE CONCAT('%', #{planName}, '%')
        </if>
        <if test="status != null and status != ''">
            AND status = #{status}
        </if>
        ORDER BY created_time DESC
    </select>

</mapper>
