<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qoobot.qooerp.system.mapper.SystemConfigMapper">

    <!-- 分页查询参数 -->
    <select id="selectPageByQuery" resultType="com.qoobot.qooerp.system.entity.SystemConfig">
        SELECT id, config_name, config_key, config_value, config_type, is_system, remark,
               create_time, create_by, update_time, update_by
        FROM system_config
        <where>
            <if test="query.configKey != null and query.configKey != ''">
                AND config_key = #{query.configKey}
            </if>
            <if test="query.configName != null and query.configName != ''">
                AND config_name LIKE CONCAT('%', #{query.configName}, '%')
            </if>
            <if test="query.configType != null and query.configType != ''">
                AND config_type = #{query.configType}
            </if>
            <if test="query.isSystem != null">
                AND is_system = #{query.isSystem}
            </if>
        </where>
        ORDER BY is_system DESC, create_time DESC
    </select>

</mapper>
